/*edited css */

img {
  border-radius: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*button css*/
.btn-outline-warning {
  background-color: #ADE5FF;
  color: #000000;
  border-color: #000000;
  border-radius: 10px;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active    {
  background-color: #5f8da3;
  color: #000000;
  border-color: #000000;
}

.btn-warning {
  background-color: #ADE5FF;
  color: #000000;
  border-color: #000000;
  border-radius: 10px;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active    {
  background-color: #5f8da3;
  color: #000000;
  border-color: #000000;
}
/*button css*/

li {
  font-weight: bold;
}

.sidebar {
  margin: 120px 20px;
  width: 25%;
  height: 450px;
  float: left;
  border: 10px solid #5f8da3;
  background-color: #ade5ff;
  border-radius: 10px;
  padding: 10px;
}

.sidebarinsert{
  flex-direction: column;
  align-items: left;
  width: 60%;
  margin: 20px;  }

.fueltable{
  margin: 120px 20px;
  width: 60%;
  height: 450px;
  float: left;
  border: 10px solid #f59f21;
  background-color: #f39200;
  border-radius: 10px;
  padding: 10px;
}

.buttoncontainer {
  text-align: center;
}

button {
  background-color: #ade5ff;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
}

.footer {
  position: fixed;
  left: 0;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background-color: #5f8da3;
  color: white;
  text-align: center;
}
